:root
{
    --primary-color: #ffffff;
    --black: #000000;
    --white: #fff;
    --grey: rgb(90, 90, 90);
}

*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html
{
    width: 100%;
    font-size: 62.5%;
}

html::-webkit-scrollbar
{
    width: 10px;
}
html::-webkit-scrollbar-thumb
{
    background-color: rgb(37, 37, 37);
}
html::-webkit-scrollbar-track
{
    background-color: #000000;
}


body
{
    width: 100%;
    min-width: 320px;
    /* background-color: rgba(80, 80, 80, 0.688); */
    background-color: #000000;
    color: var(--grey);
    font-family: 'Helvetica', sans-serif;
}

main
{
    width: 100%;
}

h1
{
    font-size: 34px;
    font-weight: 700;
}
h2
{
    display: flex;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 10px;
    align-items: center;
}
h3
{
    font-size: 16px;
}
h4
{
    font-size: 8px;
    font-weight: 100;
}
h5
{
    font-size: 20px;
}

/* header */
.nav-container
{
    position: fixed;
    z-index: 999999;
    top: 0;
    width: 100%;
    min-width: 320px;
    height: 60px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    background-color: rgb(0, 0, 0);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background-image: linear-gradient(to top, rgba(255,0,0,0), rgb(0, 0, 0));
    justify-content: space-between;
    transition: all .1s ease-in-out;
}
.nav-full
{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
.nav-full a
{
    width: auto;
    height: auto;
}
.nickname
{
    display: block;
    width: 130px;
    height: 20px;
    background-image: url('../assets/casmac_logo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 10px 0 10px 20px;
    /* align-self: center; */
    /* opacity: 0;
    transition: all .1s ease-in-out;
    transform: translateY(18px); */
}
.nickname.on
{
    opacity: 1;
    transition: all .1s ease-in-out;
    transform: translateX(0px);

}


/* language code  */
.right-nav
{
    display: flex;
    align-items: center;
}
.language-selector
{
    display: flex;
    height: 40px;
    margin: 0 0 0 20px;
    align-items: center;
    cursor: pointer;
}
.container-language-selector
{
    display: flex;
    width: auto;
    height: 24px;
    align-items: center;
}
.lang-img
{
    position: relative;
    left: 2px;
    width: 32px;
    height: 32px;
    background-image: url('../assets/language/english.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.lang-img.es
{
    background-image: url('../assets/language/spanish.png');
}
.lang-nav-en.none,
.lang-nav-es.none,
.mobile-lang-nav-en.none,
.mobile-lang-nav-es.none,
.english.none,
.spanish.none
{
    display: none;
}


.nav-links
{
    display: flex;
    text-decoration: none;
    list-style: none;
    align-items: center;
}
.nav-links li
{
    padding-left: 20px;
}
.nav-links a
{
    display: flex;
    font-size: 16px;
    font-weight: 400;
    color: var(--white);
    text-decoration: none;
}
.nav-links-container
{
    display: flex;
}
.nav-social-media
{
    display: flex;
    align-items: center;
}
.nav-social-media a
{
    margin-left: 20px;
}
.nav-social-media img
{
    width: auto;
    height: 24px;
    border-radius: 0;
}

/* menu mobile */
.menu-mobile-container
{
    position: relative;
}
.menu-mobile-background
{
    display: flex;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100vh;
    background: transparent;
    backdrop-filter: blur(10px);
    background-size: cover;
    background-position: bottom;
    transition: all .5s ease-in-out;
    transform: translateX(870px);
    top: 0;
    left: 0;
}
.menu-mobile-background.open
{
    background-color: var(--black);
    transition: all .5s ease-in-out;
    transform: translateX(0);
}
.menu-mobile-links
{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    top: 60px;
    left: 0;
    padding: 100px 20px 20px 20px;
}
.links-mobile
{
    display: flex;
    flex-direction: column;
    list-style: none;
    align-items: center;
}
.links-mobile a
{
    font-size: 16px;
    font-weight: 400;
    line-height: 80px;
    text-decoration: none;
    color: var(--white);
}
.menu-mobile-social-media
{
    display: flex;
    width: auto;
    margin-top: 20px;
    justify-content: center;
}
.menu-mobile-social-media a
{
    margin: 20px 20px 10px 20px;
}
.menu-mobile-social-media img
{
    width: auto;
    height: 40px;
}


/* menu mobile button*/
.menu-button
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    cursor: pointer;
    transition: all .90s ease-in-out;
    border: none;
}
.menu-button-burger
{
    width: 24px;
    height: 2px;
    background: var(--white);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: all .5s ease-in-out;
}
.menu-button-burger::before,
.menu-button-burger::after
{
    content: ' ';
    position: absolute;
    width: 24px;
    height: 2px;
    background: var(--white);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: all .5s ease-in-out;
}
.menu-button-burger::before
{
    transform: translateY(8px);
}
.menu-button-burger::after
{
    transform: translateY(-8px);
}

/* menu button animation */
.menu-button.open .menu-button-burger
{
    transform: translateX(50px);
    background: transparent;
    box-shadow: none;
}
.menu-button.open .menu-button-burger::before
{
    transform: rotate(45deg) translate(-35px, 35px);
}
.menu-button.open .menu-button-burger::after
{
    transform: rotate(-45deg) translate(-35px, -35px);
}

/* menu mobile container */
.menu-mobile-container
{
    position: relative;
}

/* main */
.main-section
{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 20px;
}

/* general */
.general-sections
{
    display: flex;
    width: 100%;
    height: auto;
    /* padding-bottom: 0px; */
    justify-content: center;
}
.english,
.spanish
{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    align-items: center;
}

/* start main */
.principal-container
{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin-top: 60px;
    background-color: #fff;
    justify-content: center;
}
.pagework-header-container
{
    z-index: 1;
    display: flex;
    top: 60px;
    width: 100%;
    height: auto;
    padding: 0 10px;
    background-color: var(--white);
    justify-content: center;
    align-items: center;
}
.details-work-page
{
    display: flex;
    width: 100%;
    max-width: 1000px;
    background-color: rgb(236, 236, 236);
    justify-content: space-between;
    border-radius: 0 0 8px 8px;
}
.details-work-left
{
    display: flex;
    flex-direction: column;
    width: 64%;
    padding: 20px;
    justify-content: center;
}
.details-work-left h1
{
 font-size: 40px;
}
.details-work-right
{
    display: flex;
    flex-direction: column;
    width: 36%;
    padding: 20px;
    background-color: rgb(63, 63, 63);
    border-radius: 0 0 8px 0;
    justify-content: center;
    align-items: center;
}
.details-work-right h2
{
    color: var(--white);
    align-self: flex-start;
}
.details-work-right a
{
    position: relative;
    display: flex;
    font-size: 12px;
    font-weight: 600;
    color: var(--grey);
    text-decoration: none;
    width: 100%;
    height: 40px;
    padding-right: 10px;
    background-color: var(--white);
    justify-content: right;
    align-items: center;
    border-radius: 8px;
}
.details-work-right a span
{
    position: absolute;
    left: 0;
    width: 20px;
    height: 20px;
    margin-left: 10px;
    background-image: url('../assets/email2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.article-container
{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 20px 20px 0 20px;
    justify-content: center;
}
.article-group
{
    display: flex;
    width: 100%;
    max-width: 900px;
    gap: 20px;
    align-self: center;
}
.last-article
{
    max-width: 480px;
    margin-bottom: 20px;
    align-self: center;
}
.last-article2
{
    margin-bottom: 20px;
}
.principal-content
{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 700px;
    height: auto;
    text-decoration: none;
    /* padding: 20px; */
}
.article-content
{
    display: flex;
    width: 100;
    justify-content: center;
}
.article-title
{
    color: rgb(90,90,90);
}
.principal-content h2 span:nth-child(1)
{
    display: flex;
    width: 22px;
    height: 22px;
    margin-right: 8px;
    font-size: 14px;
    color: var(--white);
    background-color: rgb(90, 90, 90);
    border-radius: 50px;
    justify-content: center;
    align-items: center;
}
#none
{
    display: none;
}
.principal-content h2 span:nth-child(1)
{
    display: flex;
    width: auto;
    height: 22px;
    margin: 0 8px;
    padding: 0 10px;
    font-size: 10px;
    color: var(--white);
    background-color: rgb(90, 90, 90);
    border-radius: 4px;
    justify-content: center;
    align-items: center;
}
.principal-content h2 span:nth-child(2)
{
    display: flex;
    width: 20px;
    height: 20px;
    margin-left: 2px;
    background-image: url('../assets/next.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    transition: .5s;
}
.principal-content:hover span:nth-child(2)
{
    margin-left: 24px;
}
.principal-container img
{
    width: 100%;
    border-radius: 0 8px 8px 8px;
}
#article-details-image
{
    margin-bottom: 0;
    border-radius: 8px 8px 0 0;
}
.article-details
{
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    width: 48%;
    height: auto;
    font-size: 14px;
    font-weight: 600;
    color: var(--white);
    line-height: 30px;
    text-decoration: none;
    padding: 4px;
    background-color: rgb(42, 42, 42);
    border-radius: 8px 0 8px 0;
    text-align: center;
    justify-content: center;
} 

#gallery-container
{
    margin-top: 60px;
    flex-direction: column;
}

.eapps-instagram-feed-posts-grid-load-more-text, 
.eapps-instagram-feed-posts-grid-load-more-text-visible
{
    color: #000000;
    background-color: #fff;
    width: 100%;
}















/* footer */
.footer-container
{
    position: relative;
    z-index: 999999;
    display: flex;
    width: 100%;
    height: auto;
    align-self: center;
    justify-content: center;
    /* background-color: red; */
    background-color: #000000;
    transition: .3s;
    margin-top: -56px;

}
.footer-area
{
    width: 90%;
    height: auto;
    background-size: cover;
    background-position: bottom;
    align-items: center;
    border-radius: 10px 10px 0 0;
    margin-top: 30px;
}
.footer-background
{
    width: 100%;
    min-width: 320px;
    height: auto;
    backdrop-filter: blur(10px);
    background-size: cover;
    background-position: bottom;
    align-items: center;
    border-radius: 8px 8px 0 0;
    margin-bottom: 26px;
}
.footer-background h3
{
    font-size: 16px;
    font-weight: 100;
    margin-top: 20px;
    text-align: center;
    color: var(--white);
}
.footer-links
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.footer-links img
{
    width: 80px;
    /* height: 80px; */
}
.footer-links span
{
    display: block;
    width: 20px;
    height: 20px;
    background-position: center;
    background-size: cover;
    margin-right: 10px ;
}
.footer-info
{
    height: auto;
}
.footer-social-media
{
    display: flex;
}
.footer-social-media li
{
    display: flex;
    height: 30px;
    margin: 0 40px;
    list-style: none;
    justify-content: flex-end;
    align-items: center;
}
.footer-social-media a
{
    display: flex;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    color: white;
}
.footer-social-media li:nth-child(1) span
{
    background-image: url("../assets/IG-glyph-logo-white.png");
}
.footer-social-media li:nth-child(2) span
{
    background-image: url("../assets/f_logo_RGB_white.png");
}
.footer-social-media li:nth-child(3) span
{
    background-image: url("../assets/a_logo_320px.png");
}



@media only screen and (max-width: 860px)
{
    h1
    {
        font-size: 16px;
        font-weight: 700;
    }
    h2
    {
        font-size: 10px;
        font-weight: 700;
        margin-bottom: 10px;
        color: var(--color);
    }
    .nav-full img
    {
        height: 20px;
    }
    .nav-links-container
    {
        display: none;
    }

    .details-work-page
    {
        flex-direction: column;
    }
    .details-work-right
    {
        width: 100%;
        border-radius: 0 0 8px 8px;
    }

    .footer-background h3
    {
        margin-top: 16px;
        text-align: center;
    }
    /* .footer-links
    {
        justify-content: space-between;
    } */
    .footer-social-media
    {
        flex-direction: column;
        text-align: right;
    }
    .footer-social-media li
    {
        margin: 5px 0;
    }
    .footer-social-media a
    {
        padding: 0;
    }
}

@media only screen and (min-width: 860px)
{
    .menu-button
    {
        display: none;
    }
    .menu-mobile-background
    {
        display: none;
    }
}